<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PayPoint</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="https://i.ibb.co/gtRrDPq/Logo.png" />
  </head>
  <body>
    <nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
      <div class="container">
          <a class="navbar-brand" href="/#home"><img src="../../../assets/imgs/Logo.PNG" alt="" style="width:70px; height:70px;"><strong class="text-primary">PAY</strong><span class="text-light">POINT</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/#features">Features</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/#about">About</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="nav-link" href="/#pricing">Pricing</a>
                  </li> -->
                  <li class="nav-item">
                      <a class="nav-link" href="/#review">Reviews</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/#contact">Contact</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn btn-primary text-dark shadow-none ml-md-4" href="/login">Login/Signup</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Register</h3>
                <form method="POST">
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control p_input" required placeholder="username" id="fullname_id">
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control p_input" required placeholder="email" id="email_id">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control p_input" required placeholder="password" id="pwd_id">
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me </label>
                    </div>
                    <!-- <a href="#" class="forgot-pass">Forgot password</a> -->
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn" onclick="assignmentdata()">Sign Up</button>
                  </div>
                  <p class="sign-up text-center">Already have an Account?<a href="/login"> Login</a></p>
                  <p class="terms">By creating an account you are accepting our<a href="/terms"> Terms & Conditions</a></p>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <script>
      const api_url =  "http://localhost:4000/getassignmentdata";
       
  
      //   const api_url = "http://localhost:3000/geteditdata";
  
      // Calling that async function
      getapi(api_url);
      function assignmentdata(){
          data = {
              name: document.getElementById('fullname_id').value,
              email: document.getElementById('email_id').value,
              password: document.getElementById('pwd_id').value,
  
          }
          console.log(data)
          fetch('/sendData',{
              method:'POST',
              headers: {
                  'Content-Type' : 'application/json',
              },
              body: JSON.stringify(data),
          })
          .then(response => response.json())
          .then(data => {
              console.log('success:', data);
              // var tableBody = document.getElementById('tbody_id');
              // tableBody.innerHTML = "";
              // getapi(api_url);
          })
          .catch((error) => {
              alert("Mail ID Already Exits")
          });
      }
  
      // load the data by call this function
      //getdata();
      // function getdata(){
      //     document.getElementById('tbody_id').innerHTML ="<tr><td>sim</td><td>sim@gmail.com</td></tr";
  
      // }
      // api url
  
    
  // Defining async function
  async function getapi(url) {
      
      // Storing response
      const response = await fetch(url);
      
      // Storing data in form of JSON
      var data = await response.json();
      if (response) {
         // hideloader();
         //document.getElementById('tbody_id').innerHTML ="<tr><td>sim</td><td>sim@gmail.com</td></tr";
          var tableBody = document.getElementById('tbody_id');
          tableBody.innerHTML = "";
          for (var i = 0; i < data.length; i++) {
             // str = '<tr><td>' + data[i].name + '</td><td>' + data[i].email + '</td><td>Edit/Delete</td></tr>';
             // tableBody.append(str);
             var row = tableBody.insertRow(0);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    cell1.innerHTML = data[i].name;
    cell2.innerHTML = data[i].email;
    cell3.innerHTML = "<button onclick=editRow('"+data[i]._id+"')>Edit</button>| <button onclick=deleterow('"+data[i]._id+"')>Delete</button>";
              }
  
      }
      // show(data);
  }</script>
    <!-- endinject -->
  </body>
</html>